!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title Longitude
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles.css"}
  %body
    %p
      This text was encoded in HAML, styled in Sass, rendered by Sinatra, executed by Ruby, hosted on Heroku with a custom domain name and deployed via git!