!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Longitude
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    %p
      This text was rendered by Sinatra, encoded in HAML, executed by Ruby, hosted on Heroku with a custom domain name and deployed via git!